<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yc.darry.mapper.CommentMapper">
		<select id="findComments" resultType="Comments">
			select c.commentid,u.uname,g.gname,o.orderid,c.commessage,c.comscore,c.comimage 
			from comments c,users u,goods g,orders o 
			where c.orderid=o.orderid and o.userid=u.userid and g.goodid=c.goodid
		</select>
		
		<delete id="deleteStore" parameterType="Integer">
			delete from store where storeid=#{storeid}
		</delete>
		
</mapper>
