<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yc.darry.mapper.ParamterMapper">
		<insert id="addParamter" parameterType="Paramter" >
			insert into paramter values(seq_paramter_id.nextval,#{goodid},#{pcarat},#{psize},#{gcrystal},#{gcutting},#{pprice},#{pcount})
		</insert>
		
		<update id="updateParamter" parameterType="Paramter">
	   	<!-- prefix:添加前缀字符串
	   		prefixOverrides:去掉的前缀字符串
	   		suffix：添加后缀字符换
	   		suffixOverrides：去掉的后缀字符串
	   	 -->
	   	 <trim prefix="update paramter set" prefixOverrides="," suffix="where goodid=#{goodid} and paramterid=#{paramterid}">
				<if test="pcarat!=null">
	   				pcarat=#{pcarat}
	   			</if>
	   			<if test="psize!=null">
	   				,psize=#{psize}
	   			</if>
	   			<if test="gcrystal!=null">
	   				,gcrystal=#{gcrystal}
	   			</if>
	   			<if test="gcutting!=null">
	   				,gcutting=#{gcutting}
	   			</if>
	   			<if test="pprice!=null">
	   				,pprice=#{pprice}
	   			</if>
	   			<if test="pcount!=null">
	   				,pcount=#{pcount}
	   			</if>
	   	 </trim>
   	</update>
		
		<delete id="deleteParamter" parameterType="int">
			delete from paramter where goodid=#{goodid} and paramterid=#{paramterid}
		</delete>
</mapper>
