<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yc.darry.mapper.ParamterMapper">
		<insert id="addParamter" parameterType="Paramter" >
			insert into paramter values(seq_paramter_id.nextval,#{goodid},#{pcarat},#{psize},#{gcrystal},#{gcutting},#{pprice},#{pcount})
		</insert>
		<update id="updateParamter" parameterType="Paramter">
			update paramter set seriesname=#{seriesname},stylename=#{stylename},pcount=#{pcount} where goodid=#{goodid}
		</update>
		<delete id="deleteParamter" parameterType="int">
			delete from paramter where goodid=#{goodid}
		</delete>
		
		<!-- 查询不同的pcarat -->
		<select id="getDifPcaratById" resultType="string" parameterType="int">
			select distinct(pcarat) from paramter where goodid=#{goodid} order by pcarat
		</select>
</mapper>
