<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yc.darry.mapper.SeriesStyleMapper">
		<insert id="addSeriesStyle" >
			insert into seriesstyle values((select seriesid from series where seriesname=#{seriesname}),(select styleid from style where stylename=#{stylename}),#{goodid})
		</insert>
		<update id="updateSeriesStyle">
			update SeriesStyle set seriesid=(select seriesid from series where seriesname=#{seriesname}),styleid=(select styleid from style where stylename=#{stylename}) where goodid=#{goodid} 
		</update>
		<delete id="deleteSeriesStyle" parameterType="Integer">
			delete from seriesstyle where goodid=#{goodid}
		</delete>
</mapper>
