@charset "utf-8";
.myorder-xq-news_top {
    overflow: hidden;
    margin-bottom: 10px;
}

.myorder-xq-news_top p {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 4px;
}

.myap{
	float: left;
	display: inline;	
}

.member_ollection-table {
    border: 1px solid #e6e6e6;
    border-bottom: none;
    margin:0
}
table {
    border-collapse: collapse;
    empty-cells: show;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ollection-table-trfirst td {
    background: #fef3f1;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
}
.member_ollection-table td {
    padding: 10px 0;
    text-align: center;
}
.ollection-table-td1 {
    width: 325px;
    border-right: 1px solid #e6e6e6;
}

.ollection-table-trfirst td {
    background: #fef3f1;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
}
.member_ollection-table td {
    padding: 10px 0;
    text-align: center;
}
.ollection-table-td2 {
    width: 163px;
    border-right: 1px solid #e6e6e6;
}

.ollection-table-trfirst td {
    background: #fef3f1;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
}
.member_ollection-table td {
    padding: 10px 0;
    text-align: center;
}
.ollection-table-td3 {
    width: 163px;
    border-right: 1px solid #e6e6e6;
}

.ollection-table-trfirst td {
    background: #fef3f1;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #e6e6e6;
}
.member_ollection-table td {
    padding: 10px 0;
    text-align: center;
}
.ollection-table-td4 {
    width: 114px;
}
